@import 'tailwindcss';

@theme {
  --color-primary: #1c1c1c;
  --color-secondary: #fafffd;
  --color-blue-navy: #336699;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}
